<div>
  <md-card>
    <md-card-header>
      <div md-card-avatar><md-icon>library_books</md-icon></div>
      <md-card-title>List of configured Frontends</md-card-title>
      <md-card-subtitle>Internal Network</md-card-subtitle>
    </md-card-header>
    <md-divider></md-divider>
    <md-card-content>
      Table of Frontends
      <button md-button md-icon-button routerLink="/frontend-new"><md-icon>add</md-icon></button>
      <ul>
        <li *ngFor="let site of sites">{{site}}</li>
      </ul>
    </md-card-content>
    <md-card-actions>
      <button md-button routerLink="/refresh" md-icon-button><md-icon>refresh</md-icon></button>
    </md-card-actions>
  </md-card>
</div>
