<div layout-gt-sm="row" tdMediaToggle="gt-xs" mediaClasses="push-sm">
  <div flex-gt-sm="60">
    <md-card>
      <md-card-header>
        <div md-card-avatar><md-icon>library_books</md-icon></div>
        <md-card-title>Active Frontends</md-card-title>
        <md-card-subtitle>Internal Network</md-card-subtitle>
      </md-card-header>
      <md-divider></md-divider>
      <md-card-content>
        List of frontends
      </md-card-content>
      <md-card-actions>
        <button md-button routerLink="/frontend">Edit Frontends</button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-header>
        <div md-card-avatar><md-icon>device_hub</md-icon></div>
        <md-card-title>Active Backends</md-card-title>
        <md-card-subtitle>External Access Domains</md-card-subtitle>
      </md-card-header>
      <md-divider></md-divider>
      <md-card-content>
        List of backends
      </md-card-content>
      <md-card-actions>
        <button md-button routerLink="/backend">Edit Backends</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
