<div>
  <md-card>
    <md-card-header>
      <div md-card-avatar>
        <md-icon>device_hub</md-icon>
      </div>
      <md-card-title>List of configured Backends</md-card-title>
      <md-card-subtitle>External Access Domains</md-card-subtitle>
    </md-card-header>
    <md-divider></md-divider>
    <md-card-content>
      Table of backends
    </md-card-content>
    <md-card-actions>
      <button md-button routerLink="/refresh" md-icon-button><md-icon>refresh</md-icon></button>
    </md-card-actions>
  </md-card>
</div>
